<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/static/asset/imgs/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/mstyle.css" />
    <title>무신사</title>
  </head>
  <body>
    <div id="container">
      <!-- 🔹 Top Navigation Bar -->
      <nav class="top-nav">
        <div class="nav-left">
          <a href="{{ url_for('main') }}">
            <img src="/static/asset/imgs/nav_left.png" alt="" />
          </a>
        </div>

        <div class="nav-right">
          <a href="{{ url_for('mypage') }}" id="loggedInUser" class="hidden">
            <img src="/static/asset/imgs/nav_right.png" alt="" />
          </a>
          <a href="{{ url_for('login') }}" id="loginForm" class="hidden">
            <img src="/static/asset/imgs/unlogined.png" alt="" />
          </a>
        </div>
      </nav>
      <div class="orderdetail-container">
        <img src="/static/asset/imgs/order-detail-top.png" alt="" id="orderdetail-top" />

        <div class="order-detail-wrapper"></div>
      </div>
    </div>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/test.js"></script>
  </body>
</html>
