<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/mpayment.css" />
    <link rel="shortcut icon" href="/static/asset/imgs/favicon.ico" type="image/x-icon" />
    <title>거래 명세서</title>
  </head>
  <body>
    <div class="receipt-container">
      <div class="product-section">
        <div class="product-title">구매상품</div>
      </div>

      <div class="divider"></div>

      <div class="store-info">
        <div>이용 상점</div>
        <div>
          (주) 무신사 | 대표자 : 조만호, 박준모 | 주소 : 서울특별시 성동구 아차산로 13길 11, 1층 (성수동2가,
          무신사캠퍼스 엔1) | 사업자등록번호 : 211-88-79575 | 전화 : 1544-7199
        </div>
      </div>
      <ul class="custom-bullet-list">
        <li>법적 증빙서류가 필요하신 경우 카드 전표, 현금 영수증을 확인하시기 바랍니다.</li>
      </ul>
      <div class="seal-area">
        <img src="/static/asset/imgs/seal.png" alt="" />
      </div>
    </div>

    <script src="/static/js/test.js"></script>
  </body>
</html>
